{% spaceless %}
    {% if ad != null %}
        {% set width = ad.params.width %}
        {% set height = ad.params.height %}

        <a id="a-link-{{ ad.pos }}"
           target="_blank"
           onclick="return sar_increment_clicks(this.id)"
           class="a-link-{{ ad.type }} {{ ad.filetype }}"
           style="vertical-align:top;margin:0;padding:0{% if ad.href == null and ad.filetype == 'image' %};cursor:default{% endif %}"
           data-var="{{ ad.slug }}"
           href="{{ ad.href == null ? '#a-link-empty' : ad.href }}" title="{{ ad.title }}"><img
                    class="a-image-{{ ad.type }}"
                    style="vertical-align:top;margin:0;padding:0;width:{{ width }}px;height:{{ height }}px{% if ad.filetype == 'flash' %};display:none{% endif %}"
                    width="{{ width }}"
                    height="{{ height }}"
                    src="{{ ad.src }}"
                    alt="{{ ad.title }}"
                    />
            <object class="a-movie-{{ ad.type }}"
                    style="vertical-align:top;margin:0;padding:0{% if ad.filetype == 'image' %};display:none{% endif %}"
                    width="{{ width }}"
                    height="{{ height }}"
                    align="middle"
                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                    classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                <param name="allowFullScreen" value="false">
                <param name="movie" value="{{ ad.src }}">
                <param name="quality" value="high">
                <param name="scale" value="noscale">
                <param name="salign" value="lt">
                <param name="wmode" value="opaque">
                <param name="allowScriptAccess" value="always">
                <embed width="{{ width }}"
                       height="{{ height }}"
                       align="middle"
                       pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"
                       allowscriptaccess="always"
                       allowfullscreen="false"
                       salign="LT"
                       scale="noscale"
                       wmode="opaque"
                       quality="high"
                       src="{{ ad.src }}"/>
            </object>
        </a>

        <script>
            //<![CDATA[
            if (typeof jQuery === 'undefined') {
                document.write('<scr' + 'ipt src="//code.jquery.com/jquery.js"></scr' + 'ipt>');
            }
            //]]>
        </script>

        <script>
            //<![CDATA[

            if (typeof sar_increment_clicks === 'undefined') {
                var sar_increment_clicks = function (id) {

                    var elem = $('#' + id);

                    if (elem.attr('href') === '#a-link-empty') {
                        if (elem.hasClass('flash')) {
                            var slug = elem.attr('data-var');
                            var url = '{{ url('_sar_increment_clicks', {slug: '__SLUG__'}) }}'.replace(/__SLUG__/, slug);
                            $.ajax({
                                url: url,
                                success: function(result){

                                }
                            });
                        }
                        return false;
                    }

                    return true;
                }
            }

            $(document).ready(function () {

                if (parseInt('{{ ad.params.rotateAfter }}') > 0) {
                    if (typeof rotateA{{ ad.type }} === 'undefined') {
                        rotateA{{ ad.type }} = function () {

                            var data = null;

                            $.ajax({
                                dataType: 'json',
                                url: '{{ path('_sar_data', { type: ad.type }) }}/' + $('.a-image-{{ ad.type }}').length,
                                async: false,
                                success: function (response) {
                                    data = response;
                                }
                            });

                            $('.a-image-{{ ad.type }}').each(function (i, e) {

                                var ad = data[i];
                                var image = e;
                                var movie = $('.a-movie-{{ ad.type }}').get(i);
                                var link = $('.a-link-{{ ad.type }}').get(i);

                                $(image).hide();
                                $(movie).hide();

                                $(link).attr('href', ad.href === null ? '#a-link-empty' : ad.href).attr('title', ad.title);

                                if (ad.filetype === 'flash') {
                                    $(movie).find('param[name="movie"]').attr('value', ad.src);
                                    $(movie).find('embed').attr('src', ad.src);
                                    $(movie).show();
                                }
                                else {
                                    $(image).attr('src', ad.src).attr('alt', ad.title);
                                    $(image).show();
                                }
                            });
                        };

                        if (parseInt('{{ ad.params.rotateAfter }}') > 0) {
                            setInterval(rotateA{{ ad.type }}, parseInt('{{ ad.params.rotateAfter * 1000 }}'));
                        }
                    }
                }
            });
            //]]>
        </script>
    {% endif %}
{% endspaceless %}
