{% spaceless %}
    {% if ad != null %}

        {% set width = ad.params.width %}
        {% set height = ad.params.height %}
        {% set rotateAfter = ad.params.rotateAfter %}
        {% if rotateAfter == 0 %}
            {% set static = true %}
        {% endif %}

        <a id="a-{{ (static is defined and static is sameas(true)) ? 'static' : '' }}link-{{ ad.type }}-{{ ad.pos }}"
           target="_blank"
           onclick="return sar_increment_clicks(this.id)"
           href="{{ ad.href == null ? '#a-link-empty' : ad.href }}" title="{{ ad.title }}"
           style="vertical-align:top;margin:0;padding:0{% if ad.href == null and ad.filetype == 'image' %};cursor:default{% endif %}"
           data-var="{{ ad.slug }}">

            <img style="vertical-align:top;margin:0;padding:0;width:{{ width }}px;height:{{ height }}px{% if ad.filetype == 'flash' %};display:none{% endif %}"
                 width="{{ width }}"
                 height="{{ height }}"
                 src="{{ ad.src }}"
                 alt="{{ ad.title }}"
                    />

            <object style="vertical-align:top;margin:0;padding:0{% if ad.filetype == 'image' %};display:none{% endif %}"
                    width="{{ width }}"
                    height="{{ height }}"
                    align="middle"
                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                    classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                <param name="allowFullScreen" value="false">
                <param name="movie" value="{{ ad.src }}">
                <param name="quality" value="high">
                <param name="scale" value="noscale">
                <param name="salign" value="lt">
                <param name="wmode" value="opaque">
                <param name="allowScriptAccess" value="always">
                <embed width="{{ width }}"
                       height="{{ height }}"
                       align="middle"
                       pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"
                       allowscriptaccess="always"
                       allowfullscreen="false"
                       salign="LT"
                       scale="noscale"
                       wmode="opaque"
                       quality="high"
                       src="{{ ad.src }}"/>
            </object>

        </a>

        <script>
            //<![CDATA[
            if (typeof jQuery === 'undefined') {
                document.write('<scr' + 'ipt src="//code.jquery.com/jquery.js"></scr' + 'ipt>');
            }
            //]]>
        </script>

        <script>
            //<![CDATA[

            if (typeof sar_increment_clicks === 'undefined') {
                var sar_increment_clicks = function (id) {

                    var elem = $('#' + id);

                    if (elem.attr('href') === '#a-link-empty') {
                        if (elem.hasClass('flash')) {
                            var slug = elem.attr('data-var');
                            var url = '{{ url('_sar_increment_clicks', {slug: '__SLUG__'}) }}'.replace(/__SLUG__/, slug);

                            $.ajax({
                                url: url,
                                async: false,
                                success: function (result) {

                                }
                            });
                        }
                        return false;
                    }

                    return true;
                }
            }

            $(document).ready(function () {

                if (parseInt('{{ ad.params.rotateAfter }}') > 0) {
                    if (typeof rotateA{{ ad.type }} === 'undefined') {
                        rotateA{{ ad.type }} = function () {

                            var data = null;

                            $.ajax({
                                dataType: 'json',
                                url: '{{ path('_sar_data', { type: ad.type }) }}/' + $('a[id^="a-link-{{ ad.type }}"]').length,
                                async: false,
                                success: function (response) {
                                    data = response;
                                }
                            });

                            $('a[id^="a-link-{{ ad.type }}"]').each(function (i, e) {

                                var ad = data[i];
                                var href = ad.href === null ? '#a-link-empty' : ad.href;

                                var link = $(e);
                                var movie = link.find('object');
                                var image = link.find('img');

                                link.attr('href', href).attr('title', ad.title);
                                image.hide();
                                movie.hide();

                                if (ad.filetype === 'flash') {
                                    movie.find('param[name="movie"]').attr('value', ad.src);
                                    movie.find('embed').attr('src', ad.src);
                                    movie.show();
                                }
                                else {
                                    image.attr('src', ad.src)
                                            .attr('alt', ad.title);
                                    image.show();
                                }
                            });
                        };

                        if (parseInt('{{ ad.params.rotateAfter }}') > 0) {
                            setInterval(rotateA{{ ad.type }}, parseInt('{{ rotateAfter * 1000 }}'));
                        }
                    }
                }
            });
            //]]>
        </script>
    {% endif %}

{% endspaceless %}
