{% spaceless %}
    {% if ad != null %}

        {% set width = ad.params.width %}
        {% set height = ad.params.height %}
        {% set rotateAfter = ad.params.rotateAfter %}
        {% set single = (ad.single is defined and ad.single == true) %}

        <a id="a-{{ single is sameas(true) ? 'single' : '' }}link-{{ ad.type }}-{{ ad.pos }}"
           target="_blank"
           onclick="return Sar.incrementClicks(this.id)"
           class="{{ ad.filetype }}"
           href="{{ ad.href == null ? '#a-link-empty' : ad.href }}" title="{{ ad.title }}"
           style="vertical-align:top;margin:0;padding:0{% if ad.href == null %};cursor:default{% endif %}"
           data-var="{{ ad.slug }}">

            <img style="vertical-align:top;margin:0;padding:0;width:{{ width }}px;height:{{ height }}px{% if ad.filetype == 'flash' %};display:none{% endif %}"
                 width="{{ width }}"
                 height="{{ height }}"
                 src="{{ ad.src }}"
                 alt="{{ ad.title }}"/>

            <object style="vertical-align:top;margin:0;padding:0{% if ad.filetype == 'image' %};display:none{% endif %}"
                    width="{{ width }}"
                    height="{{ height }}"
                    align="middle"
                    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
                    classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
                <param name="allowFullScreen" value="false">
                <param name="movie" value="{{ ad.src }}">
                <param name="quality" value="high">
                <param name="scale" value="noscale">
                <param name="salign" value="lt">
                <param name="wmode" value="opaque">
                <param name="allowScriptAccess" value="always">
                <embed width="{{ width }}"
                       height="{{ height }}"
                       align="middle"
                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                       type="application/x-shockwave-flash"
                       allowscriptaccess="always"
                       allowfullscreen="false"
                       salign="LT"
                       scale="noscale"
                       wmode="opaque"
                       quality="high"
                       src="{{ ad.src }}"></embed>
            </object>
        </a>
    {% endif %}

{% endspaceless %}
